@font-face {
    font-family: 'minotaurphatte';
    src: url('../fonts/minotaur-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
    color: #141414;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

a.nav-item:link, a.nav-item:visited {
    color: white;
    text-decoration: none;
}

body {
    margin: 0 auto;
}

header {
    background-color: #1cebe7;
    color: white;
    font-family: Arial;
    font-weight: bold;
    line-height: 3em;
    overflow: hidden;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav {
    background-color: #141414;
    color: white;
    font-family: sans-serif;
    overflow: hidden;
}

footer {
    background-color: #474747;
    color: white;
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
}

address {
    margin-bottom: 2em;
}

#head-phrase {
    font-family: 'Roboto', sans-serif;
}

#head-name {
    font-family: minotaurphatte;
}

#copyright {
    text-align: left;
}

.center-text {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 15vw;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    width: 75px;
    margin-top: 20px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 400px), (orientation: portrait) {

    h1 {
        margin: 1em auto 1em 1em;
        font-size: 2em;
    }

    h2 {
        margin: 0 auto 0.5em 2em;
        font-size: 1.5em;
    }

    p {
        margin: 0 3.8em 1em 3em;
        line-height: 1.5em;
    }

    ul {
        padding: 0;
        margin: 1.5em auto;
    }

    footer {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    #head-phrase {
        line-height: 3em;
        padding-left: 15vw;
        padding-top: 8vw;
        padding-bottom: 3vw;
        margin: 0 auto;
    }

    #head-name {
        font-size: 5em;
        position: relative;
        right: 0.1em;
    }

    #head-img {
        margin-bottom: 1em;
    }

    #nav-name {
        font-family: minotaurphatte;
        font-size: 2em;
    }

    .photo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }

}
